/* *****************************************************

    ** Custom Stylesheet **

    Any custom styling you want to apply should be
    defined here.

***************************************************** */

/* 
Primary Colors

$theme-col-1: rgb(255, 103, 28);
$theme-col-2: #4D4D4D;
$theme-col-3: #404040;

*/

/* Default styling */

body {
    color: #8a8a8a;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto';
}

h1 {
  color: #4D4D4D;
  font-size: 36px;
  text-transform: uppercase;
  padding: rem-calc(40) 0 rem-calc(30) 0;
  margin: 0;
}

h2 {
  color: rgb(255, 103, 28);
  font-size: 26px;
}

a {
    color: rgb(255, 103, 28);
    text-decoration: none;
}

div.header-lined h1 {
    color: #777;
}

div.header-lined .breadcrumb>.active {
    color: #777;
    font-weight: bold;
}

.navbar-main li.account {
    background-color: #ffffff;
}

.navbar-main li.account a {
    color: #8a8a8a;
}

a:focus, a:hover {
    color: rgb(255, 103, 28);
}

.text-primary {
    color: #8a8a8a;
}

.text-warning {
    color: #8a8a8a;
}

/* Front Page */

section#home-banner h2 {
    color: rgb(255, 103, 28);
    font-size: 26px;
    color: #fefefe;
    font-size: 40px;
    font-weight: bold;
    text-transform: none;
    text-shadow: 0px 1px 1px #000000;
}

section#home-banner {
    margin: 0;
    padding: 70px 0 70px;
    color: #fff;
    position: relative;
    background: rgba(50,50,50,0.35);
    
}

.wb-overlay {
    background: url(http://webbest.co.za/assets/images/banners/webbest_hero_banner.png) center;
    background-size: cover;
}

section#header {
    border-bottom: 2px solid #efefef;
}

section#header #default-captcha-domainchecker {
    text-shadow: 1px 1px 1px #000;
}

.lead {
    font-weight: 400;
}

div.tweet>i {
    color: #8a8a8a;
    float: left;
    margin-right: 15px;
}

.home-shortcuts {
    background: #ff671e;
}

.home-shortcuts li:first-child {
    border-left: 1px solid #ffffff;
}
.home-shortcuts li {
    border-right: 1px solid #ffffff;
}

/* Navbar */

.navbar-default .navbar-nav>li>a {
    font-family: Roboto;
}

.navbar-main {
    background-color: rgb(255, 103, 28);
    font-family: Roboto;
}

.navbar-main li.account a {
    color: #8a8a8a;
    background-color: #fff;
}

.navbar-main .navbar-nav>.active>a,
.navbar-main .navbar-nav>.active>a:focus,
.navbar-main .navbar-nav>.active>a:hover,
.navbar-main .navbar-nav>.open>a,
.navbar-main .navbar-nav>.open>a:focus,
.navbar-main .navbar-nav>.open>a:hover,
.navbar-main .navbar-nav>li>a:focus,
.navbar-main .navbar-nav>li>a:hover {
    color: rgb(255, 103, 28);
    background-color: #fff;
}

ul.top-nav>li.primary-action>a.btn {
    padding: 6px 15px;
    background-color: #ff671e;
    color: #fff;
    border: 1px solid #8a8a8a;
    border-radius: 8px;
}

.navbar-main li.account {
    background-color: #ff671e;
}

/* Cart section */

.irs-line-left {
    background: #ff945f !important;
}

.irs-line-mid {
    background: #ff945f !important;
}

.irs-line-right {
    background: #ff945f !important;
}

.irs-line-last {
    background: #ff945f !important;
}

#order-standard_cart .view-cart-items-header {
    background-color: #ff671c !important;
}

#order-standard_cart .empty-cart .btn {
    background-color: #ff671c !important;
}

#order-standard_cart .view-cart-items {
    border-bottom: 2px solid #ff671c !important;
}

#order-standard_cart .sub-heading span, #order-standard_cart .sub-heading-borderless span {
    color: #ff671c !important;
}

#order-standard_cart .domain-checker-invalid, #order-standard_cart .domain-checker-unavailable {
    color: #ff671c !important;
    font-size: 32px;
}

.domain-checker-container {
    background-color: #f8f8f8 !important;
    background: -webkit-gradient(linear,0 0,0 100%,from(#f8f8f8),to(#f8f8f8));
    background: -webkit-linear-gradient(top,#f8f8f8,#f8f8f8);
    background: -moz-linear-gradient(top,#f8f8f8,#f8f8f8);
    background: -ms-linear-gradient(top,#f8f8f8,#f8f8f8);
    background: -o-linear-gradient(top,#f8f8f8,#f8f8f8);
}

.domain-checker-bg {
    background-image: none;
}

/* Buttons */

.btn-primary {
    color: #fff;
    background-color: #ff671c !important;
    border-color: #777777;
    border-width: 1px;
}

.btn-info {
    color: #fff;
    background-color: #ff671c !important;
    border-color: #777777;
    border-width: 1px;
}

.btn-warning {
    color: #fff;
   background-color: #ff671c !important;
    border-color: #777777;
    border-width: 1px;
}

.btn-link {
    color: #666666;
}

.label-info {
    background-color: #ff671c !important;
}

/* Account Section */

.bg-color-gold {
    background-color: #ff671c;
}

.bg-color-red {
    background-color: #ff671c;
}

.bg-color-green {
    background-color: #ff671c;
}

.bg-color-blue {
    background-color: #ff671c;
}

section#home-banner .btn.search {
    background-color: #ff671c;
}

/* Tables and Panels*/

.dataTables_wrapper .dataTables_info {
    background-color: #777777;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #777777;
    border-color: #777777;
}

.panel-sidebar a.list-group-item.active, .panel-sidebar a.list-group-item.active:focus, .panel-sidebar a.list-group-item.active:hover {
    background-color: #777777;
    border-color: #777777;
}

a.list-group-item.active, a.list-group-item.active:focus, a.list-group-item.active:hover {
    background-color: #777777;
    border-color: #777777;
}

.list-group-item.active>.badge, .nav-pills>.active>a>.badge {
    color: #ff671c;
}
