/* *****************************************************

    ** Custom Stylesheet **

    Any custom styling you want to apply should be
    defined here.

***************************************************** */

/* 

$theme-col-1: rgb(255, 103, 28);
$theme-col-2: #4D4D4D;
$theme-col-3: #404040;

*/

body {
    color: #8a8a8a;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto';
}

h1 {
  color: #4D4D4D;
  font-size: 36px;
  text-transform: uppercase;
  padding: rem-calc(40) 0 rem-calc(30) 0;
  margin: 0;
}

h2 {
  color: rgb(255, 103, 28);
  font-size: 26px;
}

section#home-banner h2 {
    color: rgb(255, 103, 28);
    font-size: 26px;
    color: #fefefe;
    font-size: 40px;
    font-weight: bold;
    text-transform: none;
    text-shadow: 0px 1px 1px #000000;
}

section#home-banner {
    margin: 0;
    padding: 70px 0 70px;
    background-color: #8a8a8a;
    color: #fff;
    position: relative;
    background: url(http://webbest.co.za/assets/images/banners/webbest_hero_banner.png) center;
    background-size: cover;
}

section#header {
    border-bottom: 2px solid #efefef;
}

#default-captcha-domainchecker {
    text-shadow: 1px 1px 1px #000;
}

a {
    color: rgb(255, 103, 28);
    text-decoration: none;
}

/* Navbar */

.navbar-default .navbar-nav>li>a {
    font-family: Roboto;
}

.navbar-main {
    background-color: rgb(255, 103, 28);
    font-family: Roboto;
}

.navbar-main .navbar-nav>.active>a, .navbar-main .navbar-nav>.active>a:focus, .navbar-main .navbar-nav>.active>a:hover, .navbar-main .navbar-nav>.open>a, .navbar-main .navbar-nav>.open>a:focus, .navbar-main .navbar-nav>.open>a:hover, .navbar-main .navbar-nav>li>a:focus, .navbar-main .navbar-nav>li>a:hover {
    color: rgb(255, 103, 28);
    background-color: #fff;
}

ul.top-nav>li.primary-action>a.btn {
    padding: 6px 15px;
    background-color: #ff671e;
    color: #fff;
    border: 2px solid #8a8a8a;
    border-radius: 8px;
}

.lead {
    font-weight: 400;
}

div.tweet>i {
    color: #8a8a8a;
    float: left;
    margin-right: 15px;
}

.home-shortcuts {
    background: #ff671e;
}

.home-shortcuts li:first-child {
    border-left: 1px solid #ffffff;
}
.home-shortcuts li {
    border-right: 1px solid #ffffff;
}
